<h1 class="text-center">List de Héros</h1>
<hr>

<div class="row ">
    <div class="col text-right">
        <button routerLink="/heroe/nouveau" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Ajouter
    </button>
    </div>
</div>
<!-- tableau  liste de heros -->
<table *ngIf="!loading && heros.length > 0" class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom du héro</th>
            <th scope="col">Pouvoir</th>
            <th scope="col">Vivant</th>
            <th scope="col">Outils</th>
        </tr>
    </thead>
    <tbody>
        <br>
        <tr *ngFor='let hero of heros; let i = index'>
            <th scope="row"> {{ i + 1}}</th>
            <td> {{ hero.Prenom }} </td>
            <td> {{ hero.pouvoir }} </td>
            <td>
                <label *ngIf="hero.vivant" class="badge badge-success">Vivant</label>
                <label *ngIf="!hero.vivant" class="badge badge-danger">Mort</label>
            </td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]=" ['/heroe', hero.id] ">
          <i class="fa fa-pen"></i>
        </button>
                <button class="btn btn-danger" (click)="eliminerHero(hero, i)">
          <i class="fa fa-trash"></i>
        </button>

            </td>

        </tr>
    </tbody>
</table>
<!-- message information sur les registres -->

<div *ngIf="!loading && heros.length === 0" class=" alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Pas de registre</h4>
    <i class="fa fa-exclamation fa-2x"></i>
</div>

<div *ngIf="loading" class=" alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">chargement</h4>
    <p>
        <i class=" fa fa-sync-alt fa-spin fa-2x"> </i>
    </p>
    <p class="mb-0">
        Veuillez patienter
    </p>
</div>